.background-start {
    background-image: url('./assets/images/dev-image.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-fix{
  flex:1;
}

.section{
  font-size: 14px;
}

.section1{
  font-weight: bold; font-size: 32px;
}

.section2{
  font-size: 24px;
  font-weight: 100;
}

.section3{
  font-size: 28px;
}

.section4{
  font-size: 12px;
}

.section5{
  font-size: 13px;
}

.card-text{
  font-size: 16pt;
  font-weight:100;
}

#about_me{
  background-image: url('./assets/images/spent_profile.png'); 
  background-position: top;
}

#myAlbum{
  background-image: url('./assets/images/spent_back.svg'); 
  /*background-position: center;*/ 
  /*background-repeat:repeat-y;*/
}

#myProduct{
  background-image: url('./assets/images/spent_back.svg'); 
  background-repeat:no-repeat;
  background-position: center;


}

#contact_me, #myProducts{
  background-image: url('./assets/images/contact_bg2b.svg'); 
  background-position: center;
  background-repeat:repeat-x;
}


body {
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-opt{
  font-size: medium;
}

.nav-title{
  /*background-color: red;*/
  font-size: x-large;
}

.btn-card {
  border-width: 1px; 
  border-color: black;
  color: black;
  font-weight: bold;
  
}                               

.profile {
    border-radius: 50%;
}

.colored-buttons {
  background-color: black;
}

.h2-skills {
  padding-top: 5.5rem;
  color: black;
  text-align: center;
}

.text-color-white{
  color: white;
}

.text-color-black{
  color: black;
}

.lead {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 16px;
}

.btn-ctn {
  border-width: 1px; 
  font-size: 20px;
  
}

.h2-medium {
  color: white;
  text-align: center;
}

.h3-skills {
  padding-top: 0rem;
  text-align: center;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 20rem;
  
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 992px) {
  .about_specific{
    flex-grow: 1;
  }
}

.carousel-control-next-icon-new {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='007b57'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon-new {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='007b57'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}